@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --white: #ffffff;
  --black: #000000;

  /* Raw Colors */
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;

  --red-50: #fef2f2;
  --red-100: #ffe2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172554;

  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;

  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;

  --stone-50: #fafaf9;
  --stone-100: #f5f5f4;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-400: #a8a29e;
  --stone-500: #78716c;
  --stone-600: #57534e;
  --stone-700: #44403c;
  --stone-800: #292524;
  --stone-900: #1c1917;
  --stone-950: #0c0a09;

  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;
  --orange-950: #431407;

  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --amber-900: #78350f;

  --lime-50: #f7fee7;
  --lime-100: #ecfccb;
  --lime-200: #d9f99d;
  --lime-300: #bef264;
  --lime-400: #a3e635;
  --lime-500: #84cc16;
  --lime-600: #65a30d;
  --lime-700: #4d7c0f;
  --lime-800: #3f6212;
  --lime-900: #365314;
  --lime-950: #1a2e05;

  --emerald-50: #ecfdf5;
  --emerald-100: #d1fae5;
  --emerald-200: #a7f3d0;
  --emerald-300: #6ee7b7;
  --emerald-400: #34d399;
  --emerald-500: #10b981;
  --emerald-600: #059669;
  --emerald-700: #047857;
  --emerald-800: #065f46;
  --emerald-900: #064e3b;
  --emerald-950: #022c22;

  --teal-50: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
  --teal-700: #0f766e;
  --teal-800: #115e59;
  --teal-900: #134e4a;
  --teal-950: #042f2e;

  --cyan-50: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-400: #22d3ee;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;
  --cyan-950: #083344;

  --sky-50: #e0f2fe;
  --sky-100: #bae6fd;
  --sky-200: #7dd3fc;
  --sky-300: #38bdf8;
  --sky-400: #0ea5e9;
  --sky-500: #0284c7;
  --sky-600: #0369a1;
  --sky-700: #075985;
  --sky-800: #0c4a6e;
  --sky-900: #082f49;

  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --indigo-950: #1e1b4b;

  --violet-50: #f5f3ff;
  --violet-100: #ede9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c4b5fd;
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --violet-700: #6d28d9;
  --violet-800: #5b21b6;
  --violet-900: #4c1d95;
  --violet-950: #2e1065;

  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --purple-950: #3b0764;

  --fuchsia-50: #fdf4ff;
  --fuchsia-100: #fae8ff;
  --fuchsia-200: #f5d0fe;
  --fuchsia-300: #f0abfc;
  --fuchsia-400: #e879f9;
  --fuchsia-500: #d946ef;
  --fuchsia-600: #c026d3;
  --fuchsia-700: #a21caf;
  --fuchsia-800: #86198f;
  --fuchsia-900: #701a75;
  --fuchsia-950: #4a044e;

  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;
  --pink-950: #500724;

  --rose-50: #fff1f2;
  --rose-100: #ffe4e6;
  --rose-200: #fecdd3;
  --rose-300: #fda4af;
  --rose-400: #fb7185;
  --rose-500: #f43f5e;
  --rose-600: #e11d48;
  --rose-700: #be123c;
  --rose-800: #9f1239;
  --rose-900: #881337;
  --rose-950: #4c0519;

  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;

  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;
  --yellow-950: #422006;

  --brand-50: #f9faff;
  --brand-100: #d6dcff;
  --brand-200: #b4beff;
  --brand-300: #92a2fd;
  --brand-400: #7386fa;
  --brand-500: #546bf5;
  --brand-600: #4559d4;
  --brand-700: #3748b1;
  --brand-800: #29388e;
  --brand-900: #1d2868;
  --brand-950: #121942;

  /* Landing Page */
  --landing-primary: #d4b596;

  /* Light */
  --general-background: #ffffff;
  --general-foreground: #0a0a0a;
  --general-primary: #171717;
  --general-primary-foreground: #fafafa;
  --general-secondary: #f5f5f5;
  --general-secondary-foreground: #171717;
  --general-muted: #f5f5f5;
  --general-muted-foreground: #737373;
  --general-muted-foreground-alt: #d4d4d4;
  --general-accent: #f5f5f5;
  --general-accent-foreground: #171717;
  --general-destructive: #dc2626;
  --general-border: #f5f5f5;
  --general-input: #ffffff;
  --focus-ring: #d4d4d4;
  --card-card: #ffffff;
  --card-card-foreground: #0a0a0a;
  --popover-popover: #000000;
  --popover-popover-foreground: #ffffff;
  --chart-legacy-chart-1: #f54a00;
  --chart-legacy-chart-2: #009689;
  --chart-legacy-chart-3: #104e64;
  --chart-legacy-chart-4: #ffb900;
  --chart-legacy-chart-5: #fe9a00;
  --general-unofficial-border-1: #f5f5f5;
  --general-unofficial-border-2: #e5e5e5;
  --general-unofficial-accent-2: #e5e5e5;
  --general-unofficial-accent-3: #d4d4d4;
  --general-unofficial-accent-0: #fafafa;
  --general-unofficial-border-0: #fafafa;
  --general-unofficial-border-3: #d4d4d4;
  --general-unofficial-primary-hover: #404040;
  --general-unofficial-secondary-hover: #fafafa;
  --general-unofficial-mid: #737373;
  --general-unofficial-mid-alt: #525252;
  --general-unofficial-ghost-hover: #0000000c;
  --general-unofficial-destructive-foreground: #dc2626;
  --general-unofficial-ghost-foreground: #404040;
  --focus-ring-error: #fca5a5;
  --general-unofficial-destructive-subtle: #fef2f2;
  --sidebar-sidebar-foreground: #404040;
  --sidebar-sidebar-accent: #f5f5f5;
  --sidebar-sidebar-primary: #171717;
  --sidebar-sidebar-primary-foreground: #fafafa;
  --sidebar-sidebar-accent-foreground: #171717;
  --sidebar-sidebar: #fafafa;
  --sidebar-sidebar-border: #e5e5e5;
  --sidebar-sidebar-ring: #d4d4d4;
  --general-unofficial-backdrop: #00000099;
  --general-unofficial-border-4: #a3a3a3;
  --general-unofficial-border-5: #737373;
  --general-unofficial-destructive-border: #ef4444;
  --general-unofficial-outline: #ffffff19;
  --general-unofficial-outline-hover: #00000008;
  --general-unofficial-foreground-alt: #404040;
  --general-unofficial-contrast: #000000;
  --chart-area-orange-fill: #fccf9cb2;
  --chart-area-orange-stroke: #ffb86a;
  --general-unofficial-ghost: #ffffff00;
  --sidebar-unofficial-sidebar-muted: #737373;
  --general-unofficial-body-background: #ffffff;
  --general-unofficial-outline-active: #0000000c;
  --chart-area-blue-fill: #bfddffb2;
  --chart-area-blue-stroke: #8ec5ff;
  --chart-area-green-fill: #b8fad1b2;
  --chart-area-green-stroke: #7bf1aa;
  --chart-area-rose-fill: #ffd9deb2;
  --chart-area-rose-stroke: #ffa1ad;
  --chart-area-teal-fill: #a8f3e8b2;
  --chart-area-teal-stroke: #46edd5;
  --chart-area-rose-fill2: #f490a8b2;
  --chart-area-rose-stroke2: #ff4f79;
  --chart-area-teal-fill2: #7ce6dbb2;
  --chart-area-teal-stroke2: #07c0ac;
  --chart-area-green-fill2: #82e2a8b2;
  --chart-area-green-stroke2: #19d163;
  --chart-area-blue-fill2: #aaccffb2;
  --chart-area-blue-stroke2: #3f8dff;
  --chart-area-orange-fill2: #f7b07db2;
  --chart-area-orange-stroke2: #ff6900;
  --chart-area-purple-fill: #f0e0ffb2;
  --chart-area-purple-stroke: #dab2ff;
  --chart-area-purple-fill2: #deb5ffb2;
  --chart-area-purple-stroke2: #c67eff;
  --chart-area-amber-fill: #ffedacb2;
  --chart-area-amber-stroke: #ffd230;
  --chart-area-amber-fill2: #fed699b2;
  --chart-area-amber-stroke2: #fe9a00;
  --chart-static-blue-1: #8ec5ff;
  --chart-static-blue-2: #2b7fff;
  --chart-static-blue-3: #155dfc;
  --chart-static-blue-4: #1447e6;
  --chart-static-blue-5: #193cb8;
  --chart-static-green-1: #7bf1a8;
  --chart-static-green-2: #00c951;
  --chart-static-green-3: #00a63e;
  --chart-static-green-4: #008236;
  --chart-static-green-5: #016630;
  --chart-static-amber-1: #ffd230;
  --chart-static-amber-2: #fe9a00;
  --chart-static-amber-3: #e17100;
  --chart-static-amber-4: #bb4d00;
  --chart-static-amber-5: #973c00;
  --rose-1: #ffa1ad;
  --rose-2: #ff2056;
  --rose-3: #ec003f;
  --rose-4: #c70036;
  --rose-5: #a50036;
  --purple-1: #dab2ff;
  --purple-2: #ad46ff;
  --purple-3: #9810fa;
  --purple-4: #8200db;
  --purple-5: #6e11b0;
  --orange-1: #ffb86a;
  --orange-2: #ff6900;
  --orange-3: #f54a00;
  --orange-4: #ca3500;
  --orange-5: #9f2d00;
  --teal-1: #46edd5;
  --teal-2: #00bba7;
  --teal-3: #009689;
  --teal-4: #00786f;
  --teal-5: #005f5a;
  --general-background-alt: #fafafa;
  --logo-color: #000000;
  --semantic-success-foreground: #06c384;
  --semantic-warning-foreground: #eab308;
  --semantic-error-foreground: #e87070;
  --semantic-success: #bbf7d0;
  --semantic-warning: #fef08a;
  --semantic-error: #fecaca;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: #ffffff0d;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --general-hyperlink: #0a0a0a;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Dark */
  --general-background: #000000;
  --general-foreground: #fafafa;
  --general-primary: #f5f5f5;
  --general-primary-foreground: #0a0a0a;
  --general-secondary: #262626;
  --general-secondary-foreground: #f5f5f5;
  --general-muted: #171717;
  --general-muted-foreground: #a3a3a3;
  --general-muted-foreground-alt: #a3a3a3;
  --general-accent: #171717;
  --general-accent-foreground: #f5f5f5;
  --general-destructive: #9e4042;
  --general-border: #171717;
  --general-input: #ffffff0c;
  --focus-ring: #404040;
  --card-card: #171717;
  --card-card-foreground: #ffffff;
  --popover-popover: #ffffff;
  --popover-popover-foreground: #000000;
  --chart-legacy-chart-1: #1447e6;
  --chart-legacy-chart-2: #00bc7d;
  --chart-legacy-chart-3: #fd9a00;
  --chart-legacy-chart-4: #ad46ff;
  --chart-legacy-chart-5: #ff2056;
  --general-unofficial-border-1: #171717;
  --general-unofficial-border-2: #262626;
  --general-unofficial-accent-2: #262626;
  --general-unofficial-accent-3: #404040;
  --general-unofficial-accent-0: #0a0a0a;
  --general-unofficial-border-0: #0a0a0a;
  --general-unofficial-border-3: #404040;
  --general-unofficial-primary-hover: #d4d4d4;
  --general-unofficial-secondary-hover: #171717;
  --general-unofficial-mid: #737373;
  --general-unofficial-mid-alt: #a3a3a3;
  --general-unofficial-ghost-hover: #ffffff19;
  --general-unofficial-destructive-foreground: #f87171;
  --general-unofficial-ghost-foreground: #e5e5e5;
  --focus-ring-error: #6d2e2f;
  --general-unofficial-destructive-subtle: #450a0a;
  --sidebar-sidebar-foreground: #d4d4d4;
  --sidebar-sidebar-accent: #171717;
  --sidebar-sidebar-primary: #fafafa;
  --sidebar-sidebar-primary-foreground: #171717;
  --sidebar-sidebar-accent-foreground: #f5f5f5;
  --sidebar-sidebar: #0a0a0a;
  --sidebar-sidebar-border: #262626;
  --sidebar-sidebar-ring: #404040;
  --general-unofficial-backdrop: #00000099;
  --general-unofficial-border-4: #525252;
  --general-unofficial-border-5: #737373;
  --general-unofficial-destructive-border: #ef4444;
  --general-unofficial-outline: #ffffff0c;
  --general-unofficial-outline-hover: #ffffff19;
  --general-unofficial-foreground-alt: #d4d4d4;
  --general-unofficial-contrast: #ffffff;
  --chart-area-orange-fill: #755738b2;
  --chart-area-orange-stroke: #ffb86a;
  --general-unofficial-ghost: #ffffff00;
  --sidebar-unofficial-sidebar-muted: #737373;
  --general-unofficial-body-background: #0a0a0a;
  --general-unofficial-outline-active: #ffffff26;
  --chart-area-blue-fill: #475d75b2;
  --chart-area-blue-stroke: #8ec5ff;
  --chart-area-green-fill: #3f6e51b2;
  --chart-area-green-stroke: #7bf1a8;
  --chart-area-rose-fill: #754e53b2;
  --chart-area-rose-stroke: #ffa1ad;
  --chart-area-teal-fill: #409387b2;
  --chart-area-teal-stroke: #46edd5;
  --chart-area-rose-fill2: #741b30b2;
  --chart-area-rose-stroke2: #ff4670;
  --chart-area-teal-fill2: #0e5951b2;
  --chart-area-teal-stroke2: #1ccfb9;
  --chart-area-green-fill2: #0e5e2eb2;
  --chart-area-green-stroke2: #19d163;
  --chart-area-blue-fill2: #1f4176b2;
  --chart-area-blue-stroke2: #539bff;
  --chart-area-orange-fill2: #76380eb2;
  --chart-area-orange-stroke2: #ff7915;
  --chart-area-purple-fill: #655576b2;
  --chart-area-purple-stroke: #dab2ff;
  --chart-area-purple-fill2: #532a77b2;
  --chart-area-purple-stroke2: #a96add;
  --chart-area-amber-fill: #746221b2;
  --chart-area-amber-stroke: #ffd230;
  --chart-area-amber-fill2: #734b0eb2;
  --chart-area-amber-stroke2: #ffa50a;
  --chart-static-blue-1: #8ec5ff;
  --chart-static-blue-2: #2b7fff;
  --chart-static-blue-3: #155dfc;
  --chart-static-blue-4: #1447e6;
  --chart-static-blue-5: #193cb8;
  --chart-static-green-1: #7bf1a8;
  --chart-static-green-2: #00c951;
  --chart-static-green-3: #00a63e;
  --chart-static-green-4: #008236;
  --chart-static-green-5: #016630;
  --chart-static-amber-1: #ffd230;
  --chart-static-amber-2: #fe9a00;
  --chart-static-amber-3: #e17100;
  --chart-static-amber-4: #bb4d00;
  --chart-static-amber-5: #973c00;
  --rose-1: #ffa1ad;
  --rose-2: #ff2056;
  --rose-3: #ec003f;
  --rose-4: #c70036;
  --rose-5: #a50036;
  --purple-1: #dab2ff;
  --purple-2: #ad46ff;
  --purple-3: #9810fa;
  --purple-4: #8200db;
  --purple-5: #6e11b0;
  --orange-1: #ffb86a;
  --orange-2: #ff6900;
  --orange-3: #f54a00;
  --orange-4: #ca3500;
  --orange-5: #9f2d00;
  --teal-1: #46edd5;
  --teal-2: #00bba7;
  --teal-3: #009689;
  --teal-4: #00786f;
  --teal-5: #005f5a;
  --general-background-alt: #0a0a0a;
  --logo-color: #ffffff;
  --semantic-success-foreground: #06c384;
  --semantic-warning-foreground: #eab308;
  --semantic-error-foreground: #e87070;
  --semantic-success: #bbf7d0;
  --semantic-warning: #fef08a;
  --semantic-error: #fecaca;

  --general-hyperlink: #0a0a0a;
}

@theme {
  --radius-xs: calc(var(--radius) - 6px); /* 4px */
  --radius-sm: calc(var(--radius) - 4px); /* 6px */
  --radius-md: calc(var(--radius) - 2px); /* 8px */
  --radius-lg: var(--radius); /* 10px */
  --radius-xl: calc(var(--radius) + 4px); /* 14px */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-eb-garamond: var(---font-eb-garamond);
  --font-open-sauce-one: var(--font-open-sauce-one);

  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);

  --color-red-50: var(--red-50);
  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-red-700: var(--red-700);
  --color-red-800: var(--red-800);
  --color-red-900: var(--red-900);
  --color-red-950: var(--red-950);

  --color-blue-50: var(--blue-50);
  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-blue-700: var(--blue-700);
  --color-blue-800: var(--blue-800);
  --color-blue-900: var(--blue-900);
  --color-blue-950: var(--blue-950);

  --color-slate-50: var(--slate-50);
  --color-slate-100: var(--slate-100);
  --color-slate-200: var(--slate-200);
  --color-slate-300: var(--slate-300);
  --color-slate-400: var(--slate-400);
  --color-slate-500: var(--slate-500);
  --color-slate-600: var(--slate-600);
  --color-slate-700: var(--slate-700);
  --color-slate-800: var(--slate-800);
  --color-slate-900: var(--slate-900);
  --color-slate-950: var(--slate-950);

  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);

  --color-zinc-50: var(--zinc-50);
  --color-zinc-100: var(--zinc-100);
  --color-zinc-200: var(--zinc-200);
  --color-zinc-300: var(--zinc-300);
  --color-zinc-400: var(--zinc-400);
  --color-zinc-500: var(--zinc-500);
  --color-zinc-600: var(--zinc-600);
  --color-zinc-700: var(--zinc-700);
  --color-zinc-800: var(--zinc-800);
  --color-zinc-900: var(--zinc-900);
  --color-zinc-950: var(--zinc-950);

  --color-stone-50: var(--stone-50);
  --color-stone-100: var(--stone-100);
  --color-stone-200: var(--stone-200);
  --color-stone-300: var(--stone-300);
  --color-stone-400: var(--stone-400);
  --color-stone-500: var(--stone-500);
  --color-stone-600: var(--stone-600);
  --color-stone-700: var(--stone-700);
  --color-stone-800: var(--stone-800);
  --color-stone-900: var(--stone-900);
  --color-stone-950: var(--stone-950);

  --color-orange-50: var(--orange-50);
  --color-orange-100: var(--orange-100);
  --color-orange-200: var(--orange-200);
  --color-orange-300: var(--orange-300);
  --color-orange-400: var(--orange-400);
  --color-orange-500: var(--orange-500);
  --color-orange-600: var(--orange-600);
  --color-orange-700: var(--orange-700);
  --color-orange-800: var(--orange-800);
  --color-orange-900: var(--orange-900);
  --color-orange-950: var(--orange-950);

  --color-amber-50: var(--amber-50);
  --color-amber-100: var(--amber-100);
  --color-amber-200: var(--amber-200);
  --color-amber-300: var(--amber-300);
  --color-amber-400: var(--amber-400);
  --color-amber-500: var(--amber-500);
  --color-amber-600: var(--amber-600);
  --color-amber-700: var(--amber-700);
  --color-amber-800: var(--amber-800);
  --color-amber-900: var(--amber-900);

  --color-lime-50: var(--lime-50);
  --color-lime-100: var(--lime-100);
  --color-lime-200: var(--lime-200);
  --color-lime-300: var(--lime-300);
  --color-lime-400: var(--lime-400);
  --color-lime-500: var(--lime-500);
  --color-lime-600: var(--lime-600);
  --color-lime-700: var(--lime-700);
  --color-lime-800: var(--lime-800);
  --color-lime-900: var(--lime-900);
  --color-lime-950: var(--lime-950);

  --color-emerald-50: var(--emerald-50);
  --color-emerald-100: var(--emerald-100);
  --color-emerald-200: var(--emerald-200);
  --color-emerald-300: var(--emerald-300);
  --color-emerald-400: var(--emerald-400);
  --color-emerald-500: var(--emerald-500);
  --color-emerald-600: var(--emerald-600);
  --color-emerald-700: var(--emerald-700);
  --color-emerald-800: var(--emerald-800);
  --color-emerald-900: var(--emerald-900);
  --color-emerald-950: var(--emerald-950);

  --color-teal-50: var(--teal-50);
  --color-teal-100: var(--teal-100);
  --color-teal-200: var(--teal-200);
  --color-teal-300: var(--teal-300);
  --color-teal-400: var(--teal-400);
  --color-teal-500: var(--teal-500);
  --color-teal-600: var(--teal-600);
  --color-teal-700: var(--teal-700);
  --color-teal-800: var(--teal-800);
  --color-teal-900: var(--teal-900);
  --color-teal-950: var(--teal-950);

  --color-cyan-50: var(--cyan-50);
  --color-cyan-100: var(--cyan-100);
  --color-cyan-200: var(--cyan-200);
  --color-cyan-300: var(--cyan-300);
  --color-cyan-400: var(--cyan-400);
  --color-cyan-500: var(--cyan-500);
  --color-cyan-600: var(--cyan-600);
  --color-cyan-700: var(--cyan-700);
  --color-cyan-800: var(--cyan-800);
  --color-cyan-900: var(--cyan-900);
  --color-cyan-950: var(--cyan-950);

  --color-sky-50: var(--sky-50);
  --color-sky-100: var(--sky-100);
  --color-sky-200: var(--sky-200);
  --color-sky-300: var(--sky-300);
  --color-sky-400: var(--sky-400);
  --color-sky-500: var(--sky-500);
  --color-sky-600: var(--sky-600);
  --color-sky-700: var(--sky-700);
  --color-sky-800: var(--sky-800);
  --color-sky-900: var(--sky-900);

  --color-indigo-50: var(--indigo-50);
  --color-indigo-100: var(--indigo-100);
  --color-indigo-200: var(--indigo-200);
  --color-indigo-300: var(--indigo-300);
  --color-indigo-400: var(--indigo-400);
  --color-indigo-500: var(--indigo-500);
  --color-indigo-600: var(--indigo-600);
  --color-indigo-700: var(--indigo-700);
  --color-indigo-800: var(--indigo-800);
  --color-indigo-900: var(--indigo-900);
  --color-indigo-950: var(--indigo-950);

  --color-violet-50: var(--violet-50);
  --color-violet-100: var(--violet-100);
  --color-violet-200: var(--violet-200);
  --color-violet-300: var(--violet-300);
  --color-violet-400: var(--violet-400);
  --color-violet-500: var(--violet-500);
  --color-violet-600: var(--violet-600);
  --color-violet-700: var(--violet-700);
  --color-violet-800: var(--violet-800);
  --color-violet-900: var(--violet-900);
  --color-violet-950: var(--violet-950);

  --color-purple-50: var(--purple-50);
  --color-purple-100: var(--purple-100);
  --color-purple-200: var(--purple-200);
  --color-purple-300: var(--purple-300);
  --color-purple-400: var(--purple-400);
  --color-purple-500: var(--purple-500);
  --color-purple-600: var(--purple-600);
  --color-purple-700: var(--purple-700);
  --color-purple-800: var(--purple-800);
  --color-purple-900: var(--purple-900);
  --color-purple-950: var(--purple-950);

  --color-fuchsia-50: var(--fuchsia-50);
  --color-fuchsia-100: var(--fuchsia-100);
  --color-fuchsia-200: var(--fuchsia-200);
  --color-fuchsia-300: var(--fuchsia-300);
  --color-fuchsia-400: var(--fuchsia-400);
  --color-fuchsia-500: var(--fuchsia-500);
  --color-fuchsia-600: var(--fuchsia-600);
  --color-fuchsia-700: var(--fuchsia-700);
  --color-fuchsia-800: var(--fuchsia-800);
  --color-fuchsia-900: var(--fuchsia-900);
  --color-fuchsia-950: var(--fuchsia-950);

  --color-pink-50: var(--pink-50);
  --color-pink-100: var(--pink-100);
  --color-pink-200: var(--pink-200);
  --color-pink-300: var(--pink-300);
  --color-pink-400: var(--pink-400);
  --color-pink-500: var(--pink-500);
  --color-pink-600: var(--pink-600);
  --color-pink-700: var(--pink-700);
  --color-pink-800: var(--pink-800);
  --color-pink-900: var(--pink-900);
  --color-pink-950: var(--pink-950);

  --color-rose-50: var(--rose-50);
  --color-rose-100: var(--rose-100);
  --color-rose-200: var(--rose-200);
  --color-rose-300: var(--rose-300);
  --color-rose-400: var(--rose-400);
  --color-rose-500: var(--rose-500);
  --color-rose-600: var(--rose-600);
  --color-rose-700: var(--rose-700);
  --color-rose-800: var(--rose-800);
  --color-rose-900: var(--rose-900);
  --color-rose-950: var(--rose-950);

  --color-green-50: var(--green-50);
  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);
  --color-green-900: var(--green-900);
  --color-green-950: var(--green-950);

  --color-yellow-50: var(--yellow-50);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-300: var(--yellow-300);
  --color-yellow-400: var(--yellow-400);
  --color-yellow-500: var(--yellow-500);
  --color-yellow-600: var(--yellow-600);
  --color-yellow-700: var(--yellow-700);
  --color-yellow-800: var(--yellow-800);
  --color-yellow-900: var(--yellow-900);
  --color-yellow-950: var(--yellow-950);

  --color-brand-50: var(--brand-50);
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);
  --color-brand-950: var(--brand-950);
  --color-landing-primary: var(--landing-primary);

  --color-general-background: var(--general-background);
  --color-general-foreground: var(--general-foreground);
  --color-general-primary: var(--general-primary);
  --color-general-primary-foreground: var(--general-primary-foreground);
  --color-general-secondary: var(--general-secondary);
  --color-general-secondary-foreground: var(--general-secondary-foreground);
  --color-general-muted: var(--general-muted);
  --color-general-muted-foreground: var(--general-muted-foreground);
  --color-general-muted-foreground-alt: var(--general-muted-foreground-alt);
  --color-general-accent: var(--general-accent);
  --color-general-accent-foreground: var(--general-accent-foreground);
  --color-general-destructive: var(--general-destructive);
  --color-general-border: var(--general-border);
  --color-general-input: var(--general-input);
  --color-focus-ring: var(--focus-ring);
  --color-card-card: var(--card-card);
  --color-card-card-foreground: var(--card-card-foreground);
  --color-popover-popover: var(--popover-popover);
  --color-popover-popover-foreground: var(--popover-popover-foreground);
  --color-chart-legacy-chart-1: var(--chart-legacy-chart-1);
  --color-chart-legacy-chart-2: var(--chart-legacy-chart-2);
  --color-chart-legacy-chart-3: var(--chart-legacy-chart-3);
  --color-chart-legacy-chart-4: var(--chart-legacy-chart-4);
  --color-chart-legacy-chart-5: var(--chart-legacy-chart-5);
  --color-general-unofficial-border-1: var(--general-unofficial-border-1);
  --color-general-unofficial-border-2: var(--general-unofficial-border-2);
  --color-general-unofficial-accent-2: var(--general-unofficial-accent-2);
  --color-general-unofficial-accent-3: var(--general-unofficial-accent-3);
  --color-general-unofficial-accent-0: var(--general-unofficial-accent-0);
  --color-general-unofficial-border-0: var(--general-unofficial-border-0);
  --color-general-unofficial-border-3: var(--general-unofficial-border-3);
  --color-general-unofficial-primary-hover: var(--general-unofficial-primary-hover);
  --color-general-unofficial-secondary-hover: var(--general-unofficial-secondary-hover);
  --color-general-unofficial-mid: var(--general-unofficial-mid);
  --color-general-unofficial-mid-alt: var(--general-unofficial-mid-alt);
  --color-general-unofficial-ghost-hover: var(--general-unofficial-ghost-hover);
  --color-general-unofficial-destructive-foreground: var(--general-unofficial-destructive-foreground);
  --color-general-unofficial-ghost-foreground: var(--general-unofficial-ghost-foreground);
  --color-focus-ring-error: var(--focus-ring-error);
  --color-general-unofficial-destructive-subtle: var(--general-unofficial-destructive-subtle);
  --color-sidebar-sidebar-foreground: var(--sidebar-sidebar-foreground);
  --color-sidebar-sidebar-accent: var(--sidebar-sidebar-accent);
  --color-sidebar-sidebar-primary: var(--sidebar-sidebar-primary);
  --color-sidebar-sidebar-primary-foreground: var(--sidebar-sidebar-primary-foreground);
  --color-sidebar-sidebar-accent-foreground: var(--sidebar-sidebar-accent-foreground);
  --color-sidebar-sidebar: var(--sidebar-sidebar);
  --color-sidebar-sidebar-border: var(--sidebar-sidebar-border);
  --color-sidebar-sidebar-ring: var(--sidebar-sidebar-ring);
  --color-general-unofficial-backdrop: var(--general-unofficial-backdrop);
  --color-general-unofficial-border-4: var(--general-unofficial-border-4);
  --color-general-unofficial-border-5: var(--general-unofficial-border-5);
  --color-general-unofficial-destructive-border: var(--general-unofficial-destructive-border);
  --color-general-unofficial-outline: var(--general-unofficial-outline);
  --color-general-unofficial-outline-hover: var(--general-unofficial-outline-hover);
  --color-general-unofficial-foreground-alt: var(--general-unofficial-foreground-alt);
  --color-general-unofficial-contrast: var(--general-unofficial-contrast);
  --color-chart-area-orange-fill: var(--chart-area-orange-fill);
  --color-chart-area-orange-stroke: var(--chart-area-orange-stroke);
  --color-general-unofficial-ghost: var(--general-unofficial-ghost);
  --color-sidebar-unofficial-sidebar-muted: var(--sidebar-unofficial-sidebar-muted);
  --color-general-unofficial-body-background: var(--general-unofficial-body-background);
  --color-general-unofficial-outline-active: var(--general-unofficial-outline-active);
  --color-chart-area-blue-fill: var(--chart-area-blue-fill);
  --color-chart-area-blue-stroke: var(--chart-area-blue-stroke);
  --color-chart-area-green-fill: var(--chart-area-green-fill);
  --color-chart-area-green-stroke: var(--chart-area-green-stroke);
  --color-chart-area-rose-fill: var(--chart-area-rose-fill);
  --color-chart-area-rose-stroke: var(--chart-area-rose-stroke);
  --color-chart-area-teal-fill: var(--chart-area-teal-fill);
  --color-chart-area-teal-stroke: var(--chart-area-teal-stroke);
  --color-chart-area-rose-fill2: var(--chart-area-rose-fill2);
  --color-chart-area-rose-stroke2: var(--chart-area-rose-stroke2);
  --color-chart-area-teal-fill2: var(--chart-area-teal-fill2);
  --color-chart-area-teal-stroke2: var(--chart-area-teal-stroke2);
  --color-chart-area-green-fill2: var(--chart-area-green-fill2);
  --color-chart-area-green-stroke2: var(--chart-area-green-stroke2);
  --color-chart-area-blue-fill2: var(--chart-area-blue-fill2);
  --color-chart-area-blue-stroke2: var(--chart-area-blue-stroke2);
  --color-chart-area-orange-fill2: var(--chart-area-orange-fill2);
  --color-chart-area-orange-stroke2: var(--chart-area-orange-stroke2);
  --color-chart-area-purple-fill: var(--chart-area-purple-fill);
  --color-chart-area-purple-stroke: var(--chart-area-purple-stroke);
  --color-chart-area-purple-fill2: var(--chart-area-purple-fill2);
  --color-chart-area-purple-stroke2: var(--chart-area-purple-stroke2);
  --color-chart-area-amber-fill: var(--chart-area-amber-fill);
  --color-chart-area-amber-stroke: var(--chart-area-amber-stroke);
  --color-chart-area-amber-fill2: var(--chart-area-amber-fill2);
  --color-chart-area-amber-stroke2: var(--chart-area-amber-stroke2);
  --color-chart-static-blue-1: var(--chart-static-blue-1);
  --color-chart-static-blue-2: var(--chart-static-blue-2);
  --color-chart-static-blue-3: var(--chart-static-blue-3);
  --color-chart-static-blue-4: var(--chart-static-blue-4);
  --color-chart-static-blue-5: var(--chart-static-blue-5);
  --color-chart-static-green-1: var(--chart-static-green-1);
  --color-chart-static-green-2: var(--chart-static-green-2);
  --color-chart-static-green-3: var(--chart-static-green-3);
  --color-chart-static-green-4: var(--chart-static-green-4);
  --color-chart-static-green-5: var(--chart-static-green-5);
  --color-chart-static-amber-1: var(--chart-static-amber-1);
  --color-chart-static-amber-2: var(--chart-static-amber-2);
  --color-chart-static-amber-3: var(--chart-static-amber-3);
  --color-chart-static-amber-4: var(--chart-static-amber-4);
  --color-chart-static-amber-5: var(--chart-static-amber-5);
  --color-rose-1: var(--rose-1);
  --color-rose-2: var(--rose-2);
  --color-rose-3: var(--rose-3);
  --color-rose-4: var(--rose-4);
  --color-rose-5: var(--rose-5);
  --color-purple-1: var(--purple-1);
  --color-purple-2: var(--purple-2);
  --color-purple-3: var(--purple-3);
  --color-purple-4: var(--purple-4);
  --color-purple-5: var(--purple-5);
  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-orange-3: var(--orange-3);
  --color-orange-4: var(--orange-4);
  --color-orange-5: var(--orange-5);
  --color-teal-1: var(--teal-1);
  --color-teal-2: var(--teal-2);
  --color-teal-3: var(--teal-3);
  --color-teal-4: var(--teal-4);
  --color-teal-5: var(--teal-5);
  --color-general-background-alt: var(--general-background-alt);
  --color-logo-color: var(--logo-color);
  --color-semantic-success-foreground: var(--semantic-success-foreground);
  --color-semantic-warning-foreground: var(--semantic-warning-foreground);
  --color-semantic-error-foreground: var(--semantic-error-foreground);
  --color-semantic-success: var(--semantic-success);
  --color-semantic-warning: var(--semantic-warning);
  --color-semantic-error: var(--semantic-error);

  --color-general-hyperlink: var(--general-hyperlink);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button {
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-general-unofficial-accent-2;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }

  svg:focus,
  g:focus,
  path:focus {
    outline: none;
  }

  /* .dark { */
  /* ::-webkit-scrollbar {
      @apply bg-neutral-900;
    }
    ::-webkit-scrollbar-thumb {
      @apply bg-neutral-800;
    }

    ::-webkit-scrollbar-corner {
      @apply bg-neutral-900;
    } */
  /* } */
}

@utility container {
  padding-inline: 16px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 16px;
  }

  @variant lg {
    padding-inline: 40px;
  }

  @variant xl {
    padding-inline: 80px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

[data-slot="select-value"] [data-slot="tooltip-trigger"] {
  display: none;
}

[data-slot="select-value"] [data-slot="popover-trigger"] {
  display: none;
}

.bg-grid-container {
  inset: 0px;
  pointer-events: none;
  position: absolute;
}

.bg-grid-background {
  inset: 0px;
  pointer-events: none;
  position: absolute;
  background-color: #fafafa;
}

.bg-grid {
  inset: 0px;
  pointer-events: none;
  position: absolute;
  background-size: 409.6px 273.1px;
  background-position: left top;
  background-image: image-set(
    url("/images/grid-background.webp") 1x,
    url("/images/grid-background.webp") 1x,
    url("/images/grid-background.webp") 1x
  );
  opacity: 0.1;
}
